.search-list

.search-list-ul
    list-style none



.search-list-title
    text-decoration none

.search-list-li:hover
    background-color #EBECFF

.search-list-li:hover .search-list-op
    visibility visible

.search-list-li:hover .search-list-title
    text-decoration underline

.search-list-op
    visibility hidden

.search-list-upd
.search-list-del
    cursor pointer
    font-size 14px
    
.search-list-upd
    margin-right 3px 

.search-list-del
    margin-left 3px

