.search-form
    margin-top 30px


.search-form-button
    border 1px solid #999999
    background-color #cccccc
    color #666666
/*
    for responsive
*/
.search-form
    +below(650px)
        display none
